@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .touch-manipulation {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
}

@keyframes beacon-pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-beacon {
  animation: beacon-pulse 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 360s linear infinite;
}


.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes scanline {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.animate-scanline {
  animation: scanline 8s linear infinite;
  background: linear-gradient(to bottom,
      transparent 50%,
      rgba(34, 197, 94, 0.05) 50%);
  background-size: 100% 4px;
}