@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
}

@keyframes beacon-pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-beacon {
  animation: beacon-pulse 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}